<nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary-subtle">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img [src]="'/img/logo.png'" width="120" alt="Logo">
      </a>
  
      <!-- Botón para menú colapsable (versión móvil) -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Contenido del menú -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fw-bold text-uppercase" aria-current="page" routerLink="/catalogo">
              Catálogo
            </a>
          </li>
        </ul>
  
        <!-- Carrito alineado a la derecha -->
        <div class="d-flex align-items-center">
          <a class="btn btn-outline-dark position-relative" routerLink="/carrito">
            <i class="fa fa-shopping-cart"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              <span class="fw-bold">{{ carritoService.cantidad()}}</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </nav>
  